#charselectimg{
    position: absolute;
}

.bg {
	background-image: url('../Assets/charselect.png');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
}
.invisible_button {
	background-color: transparent;
	border-color: transparent;
}

#outercontainer{
	text-align: center;
}

.invisible_button:hover{
	background-color: rgba(0,0,0,.2)
}

body{
	font-family: 'Sorts Mill Goudy', serif;
}

.character{
	width: 70%;
	margin: 20% 60px 0px 40px;
}