body{
    align-items: center;
    margin:auto;
    font-family: 'Sorts Mill Goudy', serif;
}

.jumbotron{
    text-align: center;

}

.imagebutton{
    position: relative;
    width: 50%;
    text-align: center;
}

.imagebutton img{
    width: 200%;
    height: auto;
}

.imagebutton .btn {
  position: absolute;
  top: 18%;
  left: 149%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 16px;
  width: 30%;
  height: 27%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.imagebutton .btn:hover{
    background-color:black;
    opacity: .2;
}