<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="content-script-type" content="text/javascript">
	<meta http-equiv="content-style-type" content="text/css">
	<meta http-equiv="content-language" content="nl">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="CU GameDev">
	<meta name="description" content="Choose your avatars">
	<meta name="keywords" content="Dating, Game, Awkward, Squidward">
	<meta name="robots" content="index, follow">
	<meta name="revisit-after" content="10 days">
	<title>Awkward Dating Sim</title>
    
	<!-- Fonts, Fontawesome Bootstrap, Core CSS, -->
	<link href="../../stylesheets/fonts.css" rel="stylesheet" type="text/css" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="../../stylesheets/bootstrap.min.css" rel="stylesheet" />
	<link href="../../stylesheets/date.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Actor&family=Gochi+Hand&family=Quantico&display=swap" rel="stylesheet">

	<script src="/socket.io/socket.io.js"></script>

</head>
<body>

<div class="imageandtext">
    <img src="Assets/Museum.png" height="75%" id="bg-img"> </img> 
	<div id="title">Ruh-Roh it's date time...</div>
	<div id="instruction"><p></p>&ldquo;Pick the answer that answer that pleases you moist&rdquo;</p></div>
	<div>
		<p id="question"> </p>
	</div>
	<div class="row" id="answers">
		<button type="button" class="btn btn-dark" id="answer1">Answer 1</button><br>
		<button type="button" class="btn btn-dark" id="answer2">Answer 2</button><br>
		<button type="button" class="btn btn-dark" id="answer3">Answer 3</button><br>
	</div>
	<div class="overlay"></div>
</div>

<!-- Core JavaScript, tensorflow, jquery, and bootstrap -->
<script type=text/javascript src="../../scripts/jquery-latest.min.js"></script>
<script type="text/javascript" src="../../scripts/script.js"></script>
<script type="text/javascript" src="../../scripts/bootstrap.min.js"></script>

<!-- <h6 style="text-align: center; color: white;">Copyright&copy;CU GameDev 2020<h6></h6> -->
</body>
</html>